.search-page{
    .search-sections{
        display: flex;
        .search-content{
            margin: 0 0;
            padding: 0 30px;
            max-height: calc(100vh - 83px);
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            .search-title{
                color: #FFF;
                font-size: 25px;
                font-weight: 400;
                padding-bottom: 0;
                margin-top: 30px;
                margin-bottom: 30px;
                span{
                    color: #F00;
                }
            }
            .search-result{
                .vids{
                    display: flex;
                    flex-wrap: wrap;
                    grid-gap: 25px 15px;
                }
                .chanls{
                    display: flex;
                    margin-bottom: 30px;
                    grid-gap: 25px 30px;
                    flex-wrap: wrap;
                    .channel-profile-show{
                        &:hover h3{
                            color: #F00;
                        }
                        img{
                            width: 125px;
                            height: 125px;
                            border-radius: 50%;
                            margin: 0 auto;
                        }
                        h3{
                            font-size: 16px;
                            text-align: center;
                            color: #f1f1f1;
                            margin-top: 10px;
                            transition: all .2s;
                            margin-bottom: 0;
                        }
                        span{
                            color: #aaa;
                            font-size: 13px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}